// =======================================
// Header and background stuff
// =======================================

header {
  width: 100%;
}

#backdrop {
  width: 100%;
  height: 70vw;
  background: linear-gradient(to bottom, orchid, royalblue);
  position: fixed;
  left: 0;
  z-index: -69;
}

#logo {
  text-align: center;
  font-size: clamp(2rem, 6vw, 3rem);
  padding-block: 3rem;
  position: relative;
  text-shadow: 2px 1px 15px rgba(hotpink, 75%);

  &::before, &::after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
  }

  &::before {
    left: -2.6rem;
    width: 120px;
    height: 69px;
    border: 4px solid orangered;
  }

  &::after {
    right: -2.5rem;
    top: 2rem;
    width: 90px;
    height: 69px;
    border: 4px solid yellow;
  }
}

// =======================================
// Juicy content
// =======================================

#formContainer {
  background: #fff;
  display: flex;
  justify-content: center;
  padding: 2rem;
  border-radius: 7px;
  box-shadow: 0 2px 19px rgba(#000, 31%)
}

input[type="submit"] {
  background: green;
  border: none;
  border-radius: 3px;
  color: #f5f5f5;
  box-shadow: 0 0 4px rgba(#000, 31%)
}

// =======================================
// Footer stuff
// =======================================
